@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: #191919;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 46px;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-item {
  list-style: none;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  cursor: pointer;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-item.active {
  color: #118DA8;
}

.hero-block {
  display: flex;
  max-width: 1300px;
  margin: 100px auto 0;
}

.image-container {
  position: relative;
  margin-right: 60px;
  flex: 1;
}

.image-container::before {
  content: '';
  position: absolute;
  top: -25px;
  left: -25px;
  width: 100%;
  height: 100%;
  background: url('../img/angle.png') no-repeat;
  z-index: 1;
}

.hero-image {
  max-width: 650px;
  border-radius: 12px;
}

.hero-text-container {
  margin: auto;
}

.hero-text {
  color: #FFF;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 3.2px;
  margin-bottom: 90px;
}

.hero-link-title {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.hero-link-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.hero-link {
  cursor: pointer;
}

.hero-link:not(:last-child) {
  margin-right: 17px;
}

.hero-text span {
  position: relative;
}

.hero-text span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 163px;
  height: 11px;
  background: url('../img/underlining.png') no-repeat center;
  background-size: contain;
}

.episodes {
  max-width: 1300px;
  padding: 100px 50px 160px;
}

.header-ep {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.ep-title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px;
  letter-spacing: 2.88px;
  margin-bottom: 26px;
}

.button {
  min-width: 178px;
  height: 51px;
  display: inline-block;
  border-radius: 6px;
  background: #118DA8;
  color: #fff;
  text-decoration: none;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding: 12px 20px;
}

.card-container {
  display: flex;
  border-radius: 32px;
  background: #000;
  margin-bottom: 60px;
}

.card-image-block,
.card-text-block {
  padding: 40px;
}

.card-text-block {
  max-width: 778px;
  min-height: 465px;
}

.card-image {
  width: 389px;
  height: 465px;
}

.ep-label {
  display: inline-block;
  min-width: 73px;
  height: 27px;
  border-radius: 6px;
  background: #191919;
  color: #fff;
  padding: 5px 16px;
  margin-bottom: 48px;
}

.card-title {
  color: #118DA8;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 18px;
}

.card-title-strong {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 2.56px;
  margin-bottom: 28px;
}

.card-desc {
  max-width: 757px;
  color: rgba(255, 255, 255, 0.70);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 18px;
}

.guest-container {
  display: flex;
  align-items: center;
  max-width: 1300px;
  padding: 100px 50px;
}

.guest-desc {
  display: flex;
  flex-direction: column;
  max-width: 590px;
  margin-right: 60px;
}

.guest-btn {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background: #118DA8;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.button-text {
  color: #118DA8;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.guest-name {
  color: #FFF;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px;
  letter-spacing: 2.88px;
  margin-bottom: 28px;
}

.guest-text {
  color: rgba(255, 255, 255, 0.70);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

.guest-text:not(:last-child) {
  margin-bottom: 33px;
}

.guest-photo {
  width: 650px;
  height: 743px;
  background: url('../img/guest-img.jpg') no-repeat;
  background-size: contain;
  border-radius: 12px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  height: 387px;
  border-radius: 32px;
  background: #000;
  padding: 60px;
}

.form-desc-container {
  display: flex;
  flex-direction: column;

}

.form-text {
  color: #118DA8;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.form-title {
  color: #FFF;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 79.2px;
  letter-spacing: 2.88px;
  width: 431px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-form {
  width: 522px;
  height: 82px;
  border-radius: 6px;
  border: 1px solid #191919;
  background: #191919;
  color: rgba(255, 255, 255, 0.70);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  padding: 26px 19px;
  margin-bottom: 20px;
}

.button-form {
  display: inline-block;
  width: 87px;
  height: 48px;
  border-radius: 6px;
  background: #118DA8;
  color: #fff;
  border: none;
}

.testimonials {
  width: 100%;
  max-width: 1300px;
  padding: 100px 0;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(423px, 1fr));
  gap: 16px;
  margin-right: -16px;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  width: 423px;
  min-height: 321px;
  border-radius: 32px;
  background: #000;
  padding: 50px;
}

.rating {
  margin-bottom: 21px;
}

.testimonial-text {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
  margin-bottom: 19px;
}

.testimonial-name {
  color: rgba(255, 255, 255, 0.70);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
}